doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title!=locals.title
		meta(name='description', content!=locals.description)
		meta(property='og:title' content!=locals.title)
		meta(property='og:description' content!= locals.description)
		link(rel='stylesheet', href='css/site.css')
		link(rel="icon" href="/favicon.ico")

	body
		//- script(src='js/thing.js?t=' + build_info.timestamp)
